<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chat Real Time</title>
        <link rel="shortcut icon" href="./img/logo.png" type="image/x-icon" />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="./css/style.css" />
    </head>
    <body>
        <div class="container">
            <header class="room-header row">
                <h1><i class="far fa-comment-dots"></i> Welcome</h1>
                <a href="/" class="btn btn-custom">Leave Room</a>
            </header>

            <main class="room-main row">
                <div class="room-navbar col-3">
                    <h3><i class="far fa-comments"></i> Room Name</h3>
                    <h2 id="room-name"></h2>
                    <h3><i class="fas fa-users"></i> Users</h3>
                    <ul id="user-list"></ul>
                </div>

                <div id="room-messages" class="room-messages col-9">
                    <div class="box-messages">
                        <!-- <p class="text">
                            Sáng 14-10, trao đổi với Tuổi Trẻ Online, thiếu tá Nguyễn Khắc Hào - phó đồn trưởng Đồn Biên phòng cửa khẩu quốc tế Cầu Treo - cho hay tại tuyến đường quốc lộ 8A vừa xảy ra một vụ sạt lở lớn khiến tuyến đường này bị ách tắc nhiều giờ.
                        </p>
                        <p class="info">Lê Thanh Tùng <span>1:45PM</span></p> -->
                    </div>
                </div>
            </main>

            <div class="message-form-container row">
                <div class="col">
                    <form id="message-form">
                        <div class="row">
                            <div class="col-10">
                                <div class="form-group">
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="inputMessage"
                                        placeholder="Enter Message"
                                        autocomplete="off"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-custom form-control">
                                    <i class="fas fa-paper-plane"></i> Send
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Script bootstrap -->
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>

        <!-- https://cdnjs.com/libraries/qs -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js"
            integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>

        <!-- Script -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>
